body {
	font-size: 1.6rem;
  font-family:'AvenirNextLTW01-Regular';
  color: #333;
  background: #f9f9f9;
}

p {
  font-family: 'AvenirNextLTW01-Regular';
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next LT W01 Bold';
  color: #2683FF;
  margin-bottom: 0.6em;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    text-rendering: optimizelegibility;
    font-kerning: normal;
}

html#embed, body#embed {
  min-height: 800px;
}

.percircle {
  background: white;
}

.percircle > span {
  color: #88c425;
}

.percircle.green .bar,
.percircle.green .fill {
  border-color: #2683FF;
}
.percircle.green:hover > span {
  color: #2683FF;
}
.percircle.green.dark .bar,
.percircle.green.dark .fill {
  border-color: #2683FF;
}
.percircle.green.dark:hover > span {
  color: #2683FF;
}

.progress {
  background: #eee;
}

.btn-primary {
  font-family: 'Avenir Next LT W01 Bold';
  font-size: 16px;
  background: #88C425;
  border: 0;
  text-transform: capitalize;
  padding: 0.9em 0 0.8em;
  font-weight: normal;
}

#invest-buttons .btn {
  width: 220px;
}


.nav-pills.nav-wizard > li.active:not(:last-child) a:after {
  border-color: transparent transparent transparent #2683FF;
}
.nav-pills.nav-wizard > li.active:not(:first-child) a:before {
  border-color: #2683FF #2683FF #2683FF transparent;
}
.nav-pills.nav-wizard li a {
	padding: 13px 8px;
	padding-bottom: 12px;
	font-size: 12px;
}

.nav-pills.nav-wizard li.active > a {
	background-color: #2683FF;
}

.nav-pills.nav-wizard li {
  text-transform: capitalize;
}

.modal-footer .btn {
  min-width: 180px;
}

#btn-get-new {
  min-width: 240px;
}

#terms-of-service {
  background: white;
  font-family: monospace;
}

#row-factsheet {
  margin-top: 20px;
}

#heading-summary {
  margin-bottom: 60px;
}

.goal-name,
.goal-amount {
  font-size: 14px;
}

.address-text {
  border: 1px solid #2683FF;
  padding: 4px;
  font-weight: bold;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
    #goal-label-milestone_2,
    #goal-label-milestone_3,
    #goal-label-milestone_4 {
        display: none;
    }

    /* Display countdown as 2x2 grid on mobile */
    .time-circle-upper,
    .time-circle-lower {
        display: block;
    }

    #invest-buttons .btn {
        margin-bottom: 20px;
    }

}